.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4em;
}

.homeRandomImage {
    width: 8em;
    height: 8em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: white;

    background: rgba(148, 148, 148, 0.644);
}

.homeTitle {
    font-size: 2.5em;
    font-weight: 900;

    color: #BFB9FC;
    -webkit-text-stroke: 0.02em #6A6A6A;
}

.homeLink {
    font-size: 1.7em;

    color: black;

    background-color: #aaffd7;
    text-align: center;

    width: 11em;
    border-radius: 1em;
    
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}