@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: 'Jua', sans-serif;
    background-color: #B1AAFC;

    margin: 0;

    height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a:link, a:visited, a:hover {
    text-decoration: none;
}